.bookDialog{
  min-width: 300px;
  padding: 0 20px 10px 20px;
  button{
    padding: 10px 0;
    display: block;
  }
}

.editDialog{
  min-width: 500px;
  padding: 10px;

  &__close{
    float: right;
    padding: 10px;
  }

  .MuiButtonBase-root{
    margin: 30px 0 10px 0;
  }
}
